

# Ignore node_modules folder
node_modules

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Sonar Files
sonar-project.properties

# Package-Lock
package-lock.json

# WebStorm
.idea
